<!DOCTYPE html>

{% load static %}
{% load compress %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Compressor Tookit Tests: SCSS file → CSS file</title>

  {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'app/layout.scss' %}">
  {% endcompress %}
</head>
<body>
  <h1 class="title">
    Compressor Tookit Tests: SCSS file, transformed to CSS file
  </h1>
  <p>
    Expected result: CSS file created and styles applied to the title above
  </p>
</body>
</html>
